header{
  top: 0;
  width: 100%;
  position: absolute;
  background-color: #AAB7F0;
}
header p{
  font-size: 20px;
  color: white;
  font-weight: bold;
  text-align: center;
}
.note-icon{
  padding-top: 20px;
  font-size: 30px;
  float: left;
}
